@import url(
'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap'
);


:root{


--purple:#6D4AFF;

--dark:#24185C;

--text:#686B80;

--white:#ffffff;


--glass:

rgba(255,255,255,.55);


--border:

rgba(255,255,255,.65);


--shadow:

0 25px 70px rgba(73,55,130,.08);


}


*{

box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}



body{


margin:0;


font-family:

Inter,

"Sf Pro Display",

Arial,

sans-serif;


color:var(--dark);


overflow-x:hidden;


}



img{

max-width:100%;

display:block;

}



.container{


width:min(1320px,100%);


margin:auto;


padding-left:32px;

padding-right:32px;


}



.glass{


background:

var(--glass);


border:

1px solid var(--border);


backdrop-filter:

blur(20px);


box-shadow:

var(--shadow);


border-radius:

28px;


}



/* Responsive */


@media(max-width:768px){


.container{

padding-left:20px;

padding-right:20px;

}


}



@media(min-width:1280px){


.container{

padding-left:0;

padding-right:0;

}


}